<div class="row row--home">
  <div class="col-md-8">
    <section class="qna">
      <h6>What is the alternative to callbacks?</h6>
      <p>As an alternative to callbacks (and avoiding callback hell) we can use Promises or third-party libraries such as async (http://caolan.github.io/async/).</p>

      <h6>What HTTP frameworks (if any) you experienced with in nodejs?</h6>
      <p>I've mostly worked with Express.js web server.</p>

      <h6>Why would you use ESLint?</h6>
      <p>We would use ESLint to ensure code style consistency. (especially when working in teams that have members using different code editor tools).</p>

      <h6>What is the output of following code and why:</h6>
      <p>In the code below we can see Promise chaining and ES6 arrow functions. Initially the promise resolves to 1. Afterwards it's chained and in the callback the value is incremented by one and returned (in arrow functions we can omit the return keyword). In the next callback in the chain an error is thrown (x = 2 here). Since the error is thrown in the promise chain it's caught afterwards by using "catch" instead of then. In this callback a new value is returned of 1. Since the value returned is 1 in the next chain we repeat the same action as in the second one - the returned value from the previous step (1) is incremented by 1 and returned. In the next chaining the value of x is printed in the console (2).</p>

      <pre>
        <code>
          Promise.resolve(1) // 1
            .then((x) => x + 1) // x = 1; x = 1 + 1;
            .then((x) => { throw new Error('My Error') }) // x = 2;
            .catch(() => 1) // 1
            .then((x) => x + 1) // x = 1; x = 1 + 1;
            .then((x) => console.log(x)) // x = 2;
            .catch(console.error);</code>
      </pre>
    </section>
  </div>
  <div class="col-md-4">
    <section class="jumbotron jumbotron--home">
      <div class="container">
        <h1 class="jumbotron-heading">Task</h1>
        <p class="text-muted">
          Implement web server in nodejs using your favorite HTTP framework and sqlite DB. The web server should manage list of users persistently. The server should provide interface to view list of users. The server should allow to add new user. When new user added, all the web clients should display immediately the added user in the list.
        </p>
        <p>
          <a href="/users" class="btn btn-primary my-2">See users page</a>
        </p>
      </div>
    </section>
  </div>
</div>
