body {
  padding: 20px;
  font: "Roboto", sans-serif;
}

.page-title {
  font-size: 30px;
  margin: 30px 0 20px 0;
  padding-bottom: 10px;
}

.e-no-results {
  display: none;
}

.btn--toolbar {
  float: right;
  margin-top: 30px;
}

.row--home {
  margin-top: 30px;
}

.jumbotron--home {
  background: #FAFAFA;
  border-left: 1px solid #DDD;
  border-radius: 0;
}

.jumbotron--home .jumbotron-heading {
  font-size: 20px;
}

.qna h6 {
  font-weight: bold;
}

.qna pre {
  background: rgb(245, 245, 245);
  border-radius: 4px;
}
