<div class="row">
  <div class="col-md-6">
    <h1 class="page-title">Users</h1>
  </div>
  <div class="col-md-6">
    <a class="btn btn-primary btn-sm btn--toolbar" href="/users/create">Create User</a>
  </div>
</div>

<table class="table table-bordered table-striped e-user-table">
  <thead>
    <tr>
      <th>#</th>
      <th>Username</th>
      <th>First Name</th>
      <th>Last Name</th>
      <th>Email</th>
      <th>Age</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td colspan="7" class="e-loading text-center">
        Loading results..
      </td>
      <td colspan="7" class="e-no-results text-center">
        No results found.
      </td>
    </tr>
  </tbody>
</table>

<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
<script src="/javascripts/users.js"></script>
