<h1 class="page-title">
  {{#if id}} Edit User {{else}} Create User {{/if}}
</h1>

<div class="row">
  <div class="col-md-6">
    {{#if error}}
      <div class="alert alert-danger">{{error}}</div>
    {{/if}}
    <form action="{{#if id}}/users/{{id}}/update{{else}}/users{{/if}}" method="POST">
      <div class="form-group">
        <label for="username">Username</label>
        <input value="{{ username }}" name="username" type="text" class="form-control" id="username" placeholder="Enter username" required />
      </div>
      <div class="form-group">
        <label for="first_name">First Name</label>
        <input value="{{ first_name }}" name="first_name" type="text" class="form-control" id="first_name" placeholder="Enter first name" required />
      </div>
      <div class="form-group">
        <label for="last_name">Last Name</label>
        <input value="{{ last_name }}" name="last_name" type="text" class="form-control" id="last_name" placeholder="Enter last name" required />
      </div>
      <div class="form-group">
        <label for="email">Email</label>
        <input value="{{ email }}" name="email" type="email" class="form-control" id="email" placeholder="Enter email" required />
      </div>
      <div class="form-group">
        <label for="age">Age</label>
        <input value="{{ age }}" name="age" type="number" class="form-control" id="age" placeholder="Enter age" required />
      </div>
      <button type="submit" class="btn btn-primary">Submit</button>
      <a href="/users" class="btn btn-light">&larr; Back</a>
    </form>
  </div>
</div>
